<html>
<head>
<title>Djano Girls blog</title>
</head>
<body>
<div>
<h1><a hr="">Django Girls Blog</a></h1>
</div>

									        <div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">My first post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum. Donec id elit non mi porta gvida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum masa justo sit amet risus.</p>
</div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">My second post</a></h2>
<p>Aenean eu leo quam. Pelentesque ornare sem lacinia quam venenais vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus comodo, tortor mauris condimentum nibh, ut f.</p>
</div>
</body>
</html>
